
.ReactDemoLandingPage_ReactDemoLandingPage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.ReactDemoLandingPage_ReactDemoLandingPage .Asset21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 960px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Asset21 .Layer2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 200%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Asset21 .Layer2 .BACKGROUND {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Asset21 .Layer2 .BACKGROUND .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Asset21 .WelcometotheReactDemo {
	position: absolute;
	left: 89.28px;
	top: 372.47999999999996px;
	width: 24.2%;
	height: 14.399999999999999%;
	color: rgba(29,28,36,1.00);
	font-family: Acme;
	font-size: 54.72px;
	font-weight: 400;
	line-height: 64.125px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Asset21 .ThisappisasimpleauthenticatonforareactclientthatcanbeconsumedbyanyReactapplication {
	position: absolute;
	left: 89.28px;
	top: 524.16px;
	width: 24.4%;
	height: 9.3%;
	color: rgba(82,87,92,1.00);
	font-family: Abel;
	font-size: 23.04px;
	font-weight: 400;
	line-height: 27px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns {
	position: absolute;
	left: -106.56px;
	top: -160.32px;
	width: 1515.834375px;
	height: 1186.3892578124999px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7 {
	position: absolute;
	left: 331.2px;
	top: 123.83999999999999px;
	width: 138.99375px;
	height: 193.9241015625px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 3.84px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy11 {
	position: absolute;
	left: 689.28px;
	top: 106.56px;
	width: 104.38312499999999px;
	height: 145.63965820312498px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 2.88px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy13 {
	position: absolute;
	left: 980.15953125px;
	top: 261.12px;
	width: 45.62203125px;
	height: 60.002724609375px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 4.32px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy8 {
	position: absolute;
	left: 347.52px;
	top: 105.6px;
	width: 243.84515625px;
	height: 331.07337890625px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 14.399999999999999px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy12 {
	position: absolute;
	left: 397.44px;
	top: 0px;
	width: 183.27656249999998px;
	height: 248.5803515625px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(230, 115, 232, 1.00) 94.6%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 10.799999999999999px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy10 {
	position: absolute;
	left: 1280.6399999999999px;
	top: 26.88px;
	width: 235.19484375px;
	height: 325.01642578125px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 14.399999999999999px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy15 {
	position: absolute;
	left: 1026.24px;
	top: 712.3199999999999px;
	width: 235.19484375px;
	height: 325.01642578125px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 14.399999999999999px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy4 {
	position: absolute;
	left: 648.9599999999999px;
	top: 652.8px;
	width: 139.75453124999999px;
	height: 189.9092138671875px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	mix-blend-mode: normal;
	border-radius: 2.326567153930664px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy16 {
	position: absolute;
	left: 789.12px;
	top: 996.48px;
	width: 139.75453124999999px;
	height: 189.90919921875px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	mix-blend-mode: normal;
	border-radius: 2.326567153930664px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy17 {
	position: absolute;
	left: 966.7199999999999px;
	top: 792.9599999999999px;
	width: 139.75453124999999px;
	height: 189.909228515625px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	mix-blend-mode: normal;
	border-radius: 2.326567153930664px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy9 {
	position: absolute;
	left: 598.0799999999999px;
	top: 624px;
	width: 60.19171875px;
	height: 80.400673828125px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 2.326567153930664px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy14 {
	position: absolute;
	left: 128.64px;
	top: 268.52490234375px;
	width: 47.6409375px;
	height: 62.114501953125px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	mix-blend-mode: normal;
	border-radius: 3.2879999542236327px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy5 {
	position: absolute;
	left: 777.6px;
	top: 704.64px;
	width: 142.20328125px;
	height: 191.68836914062499px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	mix-blend-mode: normal;
	border-radius: 3.84px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy6 {
	position: absolute;
	left: 36.48px;
	top: 455.039970703125px;
	width: 139.75453124999999px;
	height: 189.9092138671875px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 2.326567153930664px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .StripPatterns .Rectangle7Copy7 {
	position: absolute;
	left: 0px;
	top: 455.039970703125px;
	width: 145.3096875px;
	height: 193.945458984375px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	mix-blend-mode: normal;
	border-radius: 5.76px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .Login {
	position: absolute;
	left: 89.28px;
	top: 640.3199999999999px;
	width: 490.56px;
	height: 73.409208984375px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Login .box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 76.19049519475787%;
	background: rgba(255,255,255,1.00);
	border-radius: 28.799999999999997px;
	border: 0px solid rgba(150.9600019454956,150.9600019454956,150.9600019454956,1);
}
.ReactDemoLandingPage_ReactDemoLandingPage .Login .Pleaselogintobegin {
	position: absolute;
	left: 30.295781249999997px;
	top: 37.662849637686215%;
	transform: translate(0, -50%);
	width: 60.861056751467714%;
	height: 34.56px;
	color: rgba(160,164,168,1.00);
	font-family: Abril Fatface;
	font-size: 30.72px;
	font-weight: 400;
	line-height: 34.56px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 {
	visibility: hidden;
	position: absolute;
	left: 89.28px;
	top: 869.76px;
	width: 251.51999999999998px;
	height: 36.48px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Dribbble {
	position: absolute;
	left: 215.04px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Dribbble .Rectangle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 23.04px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Dribbble .Vector_1 {
	position: absolute;
	left: 7.68px;
	top: 7.68px;
	width: 58.75308388157895%;
	height: 58.68417840254935%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Instagram {
	position: absolute;
	left: 107.52px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Instagram .Rectangle_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 23.04px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Instagram .Vector_2 {
	position: absolute;
	left: 8.64px;
	top: 8.64px;
	width: 52.62900904605263%;
	height: 52.63157894736842%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Twitter {
	position: absolute;
	left: 53.76px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Twitter .Rectangle_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 23.04px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Twitter .Path {
	position: absolute;
	left: 8.64px;
	top: 10.559999999999999px;
	width: 55.03829152960527%;
	height: 44.73684210526316%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Facebook {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Facebook .Rectangle_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 23.04px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Facebook .Vector_3 {
	position: absolute;
	left: 13.44px;
	top: 8.64px;
	width: 27.33218544407895%;
	height: 52.63157894736842%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Behance {
	position: absolute;
	left: 161.28px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Behance .Rectangle_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36.48px;
	height: 36.48px;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 23.04px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group2 .Behance .Vector_4 {
	position: absolute;
	left: 8.64px;
	top: 12.48px;
	width: 54.11055715460527%;
	height: 34.00003533614309%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group4 {
	position: absolute;
	left: 840px;
	top: 39.36px;
	width: 416.64px;
	height: 48.96px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group4 .Profile {
	position: absolute;
	left: 0px;
	top: 48%;
	transform: translate(0, -50%);
	width: 75.57603686635944%;
	height: 48.96px;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	font-family: Abel;
	font-size: 38.4px;
	font-weight: 400;
	line-height: 45px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group4 .Group3 {
	position: absolute;
	left: 266.88px;
	top: 0px;
	width: 149.76px;
	height: 48.96px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group4 .Group3 .Rectangle8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(132, 104, 245, 1.00) 0.0%, rgba(236, 116, 231, 1.00) 100.0%);
	border-radius: 12.48px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group4 .Group3 .t {
	position: absolute;
	left: 36.48px;
	top: 31.05882352941176%;
	transform: translate(0, -50%);
	width: 59.61538461538461%;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Abel;
	font-size: 34.56px;
	font-weight: 400;
	line-height: 40.5px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group {
	position: absolute;
	left: 692.16px;
	top: 279.36px;
	width: 52.92027994791667%;
	height: 60%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Rectangle_5 {
	position: absolute;
	left: 302.04328125px;
	top: 22.0112255859375px;
	width: 40.24294600946909%;
	height: 53.2417246500651%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_1 {
	position: absolute;
	left: 491.24062499999997px;
	top: 383.09314453125px;
	width: 22.880081392080143%;
	height: 33.490773518880204%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_1 .Rectangle_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Rectangle_7 {
	position: absolute;
	left: 580.27453125px;
	top: 138.24990234375px;
	width: 20.608275394581202%;
	height: 27.264925638834637%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 {
	position: absolute;
	left: 535.4165624999999px;
	top: 269.964111328125px;
	width: 24.411841957149825%;
	height: 34.640889485677086%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_3 {
	position: absolute;
	left: 143.2771875px;
	top: 1.84905029296875px;
	width: 2.8581435547514777%;
	height: 3.8423865707310116%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_3 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 86.52032090275941%;
	height: 79.35458601220898%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_3 .Vector_6 {
	position: absolute;
	left: 0.09984375px;
	top: 0.13595947265625px;
	width: 88.83893149960328%;
	height: 82.258757893329%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_3 .Vector_7 {
	position: absolute;
	left: 0.3215625px;
	top: 0.48220458984375px;
	width: 87.91325046284052%;
	height: 82.58175148313384%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_3 .Vector_8 {
	position: absolute;
	left: 0.50765625px;
	top: 0.86555419921875px;
	width: 87.44600193952218%;
	height: 82.9035031573316%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_3 .Vector_9 {
	position: absolute;
	left: 0.705px;
	top: 1.2736083984375px;
	width: 86.7407211496077%;
	height: 83.3877547121144%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_3 .Vector_10 {
	position: absolute;
	left: 0.766875px;
	top: 1.7064257812499999px;
	width: 84.6425107996121%;
	height: 77.74257955424783%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_4 {
	position: absolute;
	left: 0.885px;
	top: 186.47068359374998px;
	width: 4.766092333432443%;
	height: 3.9320179083544717%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Group_4 .Vector_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Vector_12 {
	position: absolute;
	left: 0.06703125px;
	top: 0.00000732421875px;
	width: 97.52712502456748%;
	height: 97.11422184816895%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Vector_13 {
	position: absolute;
	left: 0.2915625px;
	top: 0.25380615234375px;
	width: 97.42079190457233%;
	height: 96.98742092561737%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Vector_14 {
	position: absolute;
	left: 1.070625px;
	top: 1.81191650390625px;
	width: 99.42449088609253%;
	height: 99.0919109938573%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_2 .Vector_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 97.55509416276527%;
	height: 97.1083046675543%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_5 {
	position: absolute;
	left: 463.10203125px;
	top: 127.83675292968749px;
	width: 27.42713803375877%;
	height: 36.049992879231766%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_5 .Vector_16 {
	position: absolute;
	left: 62.193749999999994px;
	top: 69.65778076171874px;
	width: 64.47701878955607%;
	height: 66.453937142242%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_5 .Vector_17 {
	position: absolute;
	left: 130.786875px;
	top: 69.65778076171874px;
	width: 31.34500746827664%;
	height: 63.857445211201295%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_5 .Vector_18 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 98.23352851136691%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_5 .Vector_19 {
	position: absolute;
	left: 28.423125px;
	top: 29.37315673828125px;
	width: 72.8255652790175%;
	height: 69.95109285542863%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_6 {
	position: absolute;
	left: 616.1353124999999px;
	top: 299.0054296875px;
	width: 19.14786822504123%;
	height: 36.496342976888016%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_6 .Rectangle_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_7 {
	position: absolute;
	left: 493.71421875px;
	top: 140.7230126953125px;
	width: 25.15188738957908%;
	height: 34.99356587727865%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_7 .Rectangle_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_8 {
	position: absolute;
	left: 18.86625px;
	top: 268.090927734375px;
	width: 22.393279002233484%;
	height: 27.90896606445312%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_8 .Rectangle_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Vector_20 {
	position: absolute;
	left: 471.72046875px;
	top: 69.038349609375px;
	width: 19.44472295506397%;
	height: 25.51094309488932%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Vector_21 {
	position: absolute;
	left: 471.6215625px;
	top: 68.43251953125px;
	width: 19.443062143271465%;
	height: 25.560330708821617%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_9 {
	position: absolute;
	left: 445.486875px;
	top: 31.903681640625px;
	width: 27.58596085036024%;
	height: 31.762329101562496%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_9 .Group_10 {
	visibility: hidden;
	position: absolute;
	left: 6.7453125px;
	top: 37.32216796875px;
	width: 92.9158825155864%;
	height: 79.5999041111158%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_9 .Group_10 .Rectangle_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 499.2px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_9 .Group_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 90.57187919153564%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_9 .Group_11 .Rectangle_12 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80.58813560833772%;
	height: 84.32825153256273%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 96px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_9 .Group_11 .Group_12 {
	position: absolute;
	left: 85.3246875px;
	top: 29.678115234375px;
	width: 59.411596814042476%;
	height: 82.089483364252%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_9 .Group_11 .Group_12 .Rectangle_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 278.4px;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Rectangle_14 {
	position: absolute;
	left: 12.6834375px;
	top: 28.193935546875px;
	width: 29.533170409746873%;
	height: 39.072550455729164%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Vector_22 {
	position: absolute;
	left: 36.7134375px;
	top: 299.26517578125px;
	width: 28.442878223743335%;
	height: 37.533294677734375%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Vector_23 {
	position: absolute;
	left: 42.524531249999995px;
	top: 341.76667968749996px;
	width: 24.24286973514973%;
	height: 26.955413818359375%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_13 {
	position: absolute;
	left: 16.393124999999998px;
	top: 371.9637890625px;
	width: 34.401255819761325%;
	height: 32.41733805338542%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_13 .Rectangle_15 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_14 {
	position: absolute;
	left: 89.35125px;
	top: 270.564228515625px;
	width: 27.423631875530152%;
	height: 49.1627197265625%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_14 .Rectangle_16 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_15 {
	position: absolute;
	left: 156.75609375px;
	top: 227.6563623046875px;
	width: 38.505306293677044%;
	height: 52.58480834960938%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_15 .Vector_24 {
	position: absolute;
	left: 0px;
	top: 3.3371978759765626px;
	width: 99.24534932945677%;
	height: 98.89821575351542%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_15 .Vector_25 {
	position: absolute;
	left: 7.6284374999999995px;
	top: 0.012837524414062499px;
	width: 97.40025719466121%;
	height: 97.06177648527449%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_15 .Vector_26 {
	position: absolute;
	left: 8.1375px;
	top: 5.105524291992188px;
	width: 78.73862792239431%;
	height: 90.42215024596187%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_15 .Vector_27 {
	position: absolute;
	left: 7.6274999999999995px;
	top: 0px;
	width: 97.40041694289799%;
	height: 97.06604205562188%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_16 {
	position: absolute;
	left: 145.3453125px;
	top: 45.5063232421875px;
	width: 49.55788574968122%;
	height: 68.90011088053384%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_16 .Vector_28 {
	position: absolute;
	left: 362.6446875px;
	top: 382.2999609375px;
	width: 3.97521063266755%;
	height: 3.6699358711112016%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_16 .Vector_29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99.75597888956742%;
	height: 99.77045414497657%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_16 .Vector_30 {
	position: absolute;
	left: 0.46828125px;
	top: 9.435131835937499px;
	width: 98.19789292860087%;
	height: 96.11862652221309%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_17 {
	position: absolute;
	left: 145.54359374999999px;
	top: 90.72807861328124px;
	width: 49.53192787647989%;
	height: 68.90533447265625%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_17 .Vector_31 {
	position: absolute;
	left: 362.446875px;
	top: 382.3195971679687px;
	width: 3.9771697096291074%;
	height: 3.6722928633960614%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_17 .Vector_32 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99.74281151350021%;
	height: 99.76906905709903%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_17 .Vector_33 {
	position: absolute;
	left: 0.27046875px;
	top: 9.55871337890625px;
	width: 98.24935485553483%;
	height: 96.03036463246659%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_18 {
	position: absolute;
	left: 145.20609375px;
	top: 0px;
	width: 49.57615467939874%;
	height: 68.95012919108073%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_18 .Vector_34 {
	position: absolute;
	left: 362.78390625px;
	top: 382.572216796875px;
	width: 3.9736216833237177%;
	height: 3.6712644086848574%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_18 .Vector_35 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99.75606881192111%;
	height: 99.76967644272374%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_18 .Vector_36 {
	position: absolute;
	left: 0.6074999999999999px;
	top: 9.769116210937499px;
	width: 98.16170677386735%;
	height: 95.9897380870833%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_19 {
	position: absolute;
	left: 215.48296875px;
	top: 363.307734375px;
	width: 33.752185966632446%;
	height: 34.9935557047526%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_19 .Rectangle_17 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 {
	position: absolute;
	left: 208.06312499999999px;
	top: 117.22793701171875px;
	width: 41.54114722727471%;
	height: 65.04938252766928%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_21 .Group_22 {
	position: absolute;
	left: 101.39953125px;
	top: 35.86092041015625px;
	width: 66.40620488376948%;
	height: 90.42903211757331%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_21 .Group_22 .Rectangle_18 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_21 .Group_23 {
	position: absolute;
	left: 0px;
	top: 14.83905029296875px;
	width: 38.67183740314123%;
	height: 84.48843945166671%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_21 .Group_23 .Rectangle_19 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_21 .Group_24 {
	position: absolute;
	left: 4.94671875px;
	top: -0.00002197265625px;
	width: 98.43752545018131%;
	height: 55.4455315484616%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_21 .Group_24 .Rectangle_20 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_37 {
	position: absolute;
	left: 51.219375px;
	top: 61.48285400390625px;
	width: 61.10975376810758%;
	height: 63.86797046170649%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_38 {
	position: absolute;
	left: 52.0771875px;
	top: 51.625253906249995px;
	width: 65.52723891260537%;
	height: 27.06217083140821%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_39 {
	position: absolute;
	left: 57.302812499999995px;
	top: 33.69434692382812px;
	width: 64.3319873426531%;
	height: 28.146495382950764%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_25 {
	position: absolute;
	left: 29.677968749999998px;
	top: 14.83905029296875px;
	width: 81.25000925461138%;
	height: 56.7656697678961%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_25 .Group_26 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_25 .Group_26 .Rectangle_21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_27 {
	position: absolute;
	left: 57.18px;
	top: 33.5583251953125px;
	width: 64.37107882115501%;
	height: 28.23891299467701%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_27 .Vector_40 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 88.63391170929535%;
	height: 79.63874406182903%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_27 .Vector_41 {
	position: absolute;
	left: 49.833749999999995px;
	top: 83.91702392578125px;
	width: 62.0183427147862%;
	height: 20.68847791146116%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_27 .Vector_42 {
	position: absolute;
	left: 176.08921875px;
	top: 36.704340820312495px;
	width: 13.587042783565629%;
	height: 61.66151316228946%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Group_27 .Vector_43 {
	position: absolute;
	left: 176.1628125px;
	top: 101.88456298828125px;
	width: 0.031744352150679854%;
	height: 0%;
	mix-blend-mode: overlay;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_44 {
	position: absolute;
	left: 81.46359375px;
	top: 18.28764404296875px;
	width: 53.15315715514727%;
	height: 21.895061070530524%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_45 {
	position: absolute;
	left: 249.50484375px;
	top: 80.43968994140624px;
	width: 0%;
	height: 0.0022586144559613407%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_46 {
	position: absolute;
	left: 248.416875px;
	top: 80.291337890625px;
	width: 0.34367924849594056%;
	height: 0.41914591763115666%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_47 {
	position: absolute;
	left: 81.46359375px;
	top: 18.295129394531248px;
	width: 53.096000675216445%;
	height: 22.028090981872325%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_48 {
	position: absolute;
	left: 249.23296875px;
	top: 81.8494189453125px;
	width: 0.0026653280796755407%;
	height: 0%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_49 {
	position: absolute;
	left: 247.5140625px;
	top: 81.71337158203124px;
	width: 0.5468364776800985%;
	height: 0.8085782330975542%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_50 {
	position: absolute;
	left: 245.795625px;
	top: 84.40907958984374px;
	width: 0.7890851853661642%;
	height: 0.917493858503902%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_51 {
	position: absolute;
	left: 99.28406249999999px;
	top: 28.853093261718747px;
	width: 41.995797666061044%;
	height: 16.949907613664593%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_52 {
	position: absolute;
	left: 99.95296875px;
	top: 24.9418798828125px;
	width: 42.16282489238738%;
	height: 13.874583448306382%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_20 .Vector_53 {
	position: absolute;
	left: 77.4365625px;
	top: 40.85672607421875px;
	width: 54.183158384159654%;
	height: 20.587449016668636%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_28 {
	position: absolute;
	left: 359.60390624999997px;
	top: 28.63927734375px;
	width: 9.206986973699507%;
	height: 15.45459238688151%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_28 .Vector_54 {
	position: absolute;
	left: 0.15140625px;
	top: 0px;
	width: 97.37638546489488%;
	height: 88.9737325680645%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_28 .Vector_55 {
	position: absolute;
	left: 0px;
	top: 53.9953857421875px;
	width: 100%;
	height: 39.34357831249765%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_29 {
	position: absolute;
	left: 523.39171875px;
	top: 362.07134765625px;
	width: 24.502756024902336%;
	height: 25.33275349934896%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_29 .Rectangle_22 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_30 {
	position: absolute;
	left: 396.6796875px;
	top: 313.00376953125px;
	width: 25.20847801361989%;
	height: 20.957489013671875%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_30 .Vector_56 {
	position: absolute;
	left: 139.00312499999998px;
	top: 35.279589843749996px;
	width: 11.773547705439256%;
	height: 49.190711603942326%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_30 .Vector_57 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 95.8745000817438%;
	height: 100%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_30 .Vector_58 {
	position: absolute;
	left: 14.57859375px;
	top: 15.73412109375px;
	width: 92.41075894850628%;
	height: 86.9351108263498%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_31 {
	position: absolute;
	left: 0px;
	top: 155.09208984375px;
	width: 21.329928874197197%;
	height: 29.63237762451172%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_31 .Vector_59 {
	position: absolute;
	left: 13.4746875px;
	top: 0.024843749999999998px;
	width: 91.68711771440437%;
	height: 91.14114620545533%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_31 .Vector_60 {
	position: absolute;
	left: 0px;
	top: 52.680844116210935px;
	width: 77.7926133987767%;
	height: 69.13519439920871%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_31 .Vector_61 {
	position: absolute;
	left: 71.4459375px;
	top: 0.000029296875px;
	width: 56.04548351467717%;
	height: 55.71348511082933%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Rectangle_23 {
	position: absolute;
	left: 55.96359375px;
	top: 287.87636718749997px;
	width: 18.17426344534791%;
	height: 21.46843973795573%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_32 {
	position: absolute;
	left: 31.231875px;
	top: 144.432744140625px;
	width: 19.31013568832345%;
	height: 25.547449747721355%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_32 .Rectangle_24 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Vector_62 {
	position: absolute;
	left: 52.84640625px;
	top: 148.24149902343748px;
	width: 7.7372300488832275%;
	height: 10.14169184366862%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_33 {
	position: absolute;
	left: 13.91953125px;
	top: 106.09874267578125px;
	width: 18.33653090863013%;
	height: 25.118085225423176%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_33 .Group_34 {
	position: absolute;
	left: 0px;
	top: 28.4414501953125px;
	width: 98.23011818221462%;
	height: 80.34185148215019%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_33 .Group_34 .Rectangle_25 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_33 .Group_35 {
	position: absolute;
	left: 1.2365625px;
	top: -0.000029296875px;
	width: 99.11505909110731%;
	height: 82.90595274821393%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_33 .Group_35 .Rectangle_26 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 87.4998730796958%;
	height: 90.72165080648338%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_33 .Group_35 .Group_36 {
	position: absolute;
	left: 34.6246875px;
	top: 11.12923828125px;
	width: 75.00008461353613%;
	height: 90.72165080648338%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_33 .Group_35 .Group_36 .Rectangle_27 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Vector_63 {
	position: absolute;
	left: 281.60249999999996px;
	top: 68.8033447265625px;
	width: 2.539504253831093%;
	height: 3.267496744791667%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_37 {
	position: absolute;
	left: 237.74109375px;
	top: 24.4842919921875px;
	width: 14.117453840196688%;
	height: 18.677537282307945%;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_37 .Group_38 {
	position: absolute;
	left: 0px;
	top: 8.6560107421875px;
	width: 98.85102544998236%;
	height: 91.95408034781772%;
	mix-blend-mode: multiply;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_37 .Group_38 .Rectangle_28 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_37 .Group_39 {
	position: absolute;
	left: 1.2365625px;
	top: 0px;
	width: 98.85058973722164%;
	height: 93.10339240335354%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_37 .Group_39 .Rectangle_29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 94.18612339170718%;
	height: 96.29640300163861%;
	object-fit: cover;
	overflow: hidden;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_37 .Group_39 .Group_40 {
	position: absolute;
	left: 11.1290625px;
	top: 3.7096435546874997px;
	width: 89.53502210507293%;
	height: 96.29638837704854%;
	mix-blend-mode: screen;
}
.ReactDemoLandingPage_ReactDemoLandingPage .Group .OBJECTS .Group_37 .Group_39 .Group_40 .Rectangle_30 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}