
.arrowright_arrowright {
	width: 24px;
	height: 24px;
}
.arrowright_arrowright .shape {
	position: absolute;
	left: 2.1500244140625px;
	top: 2.1500015258789062px;
	width: 82.0831298828125%;
	height: 73.75001907348633%;
}