
.arrows_arrows {
	width: 24px;
	height: 24px;
}
.arrows_arrows .shape {
	position: absolute;
	left: 2.1500244140625px;
	top: 2.149993896484375px;
	width: 82.0831298828125%;
	height: 82.08332061767578%;
}