
.check_check {
	width: 24px;
	height: 24px;
}
.check_check .shape {
	position: absolute;
	left: 2.1500244140625px;
	top: 2.1500015258789062px;
	width: 82.0831298828125%;
	height: 82.08335240681967%;
}