
.chevrondown_chevrondown {
	width: 24px;
	height: 24px;
}
.chevrondown_chevrondown .shape {
	position: absolute;
	left: 6.1500244140625px;
	top: 9.150001525878906px;
	width: 48.74979654947917%;
	height: 27.916653951009113%;
}