
.search_search {
	width: 24px;
	height: 24px;
}
.search_search .shape {
	position: absolute;
	left: 2.14990234375px;
	top: 2.1500015258789062px;
	width: 82.0831298828125%;
	height: 82.08335240681967%;
}