
.settings_settings {
	width: 24px;
	height: 24px;
}
.settings_settings .shape {
	position: absolute;
	left: 2.149658203125px;
	top: 1.1499996185302734px;
	width: 82.08516438802084%;
	height: 86.24999523162842%;
}