
.Thumbnail_Thumbnail {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(242,242,242,1.00);
}
.Thumbnail_Thumbnail .image3 {
	position: absolute;
	left: 25.5px;
	top: 35.25px;
	width: 1390.5px;
	height: 936.75px;
	object-fit: cover;
	overflow: hidden;
}